/**
** edge-iiuc-cbi-030 : Task-03
** Style CSS File
** Written by Jobaieer
*/

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #e55473;
  --bg-color: #e554731a;
  --footer-bg: #111010;
  --text-color: #272727;
  --p-color: #27272799;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #f2f2f2;
}

/* Reuseable Classes */

.margin-ss {
  margin: 0px 140px;
}

.btn {
  width: 200px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 20px 43px;
  border-radius: 8px;
  font-size: 1.25rem;
  font-weight: 500;
  width: 200px;
  height: 64px;
  cursor: pointer;
}

.title {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--text-color);
  text-align: center;
}

.title-p {
  font-size: 1.125rem;
  color: var(--p-color);
  text-align: center;
}

@media (min-width: 1000px) {
  /* Header Container Start */

  #header-container {
    background-color: var(--bg-color);
    height: 100vh;
  }

  /* Hero Section Start */
  #hero-section {
    padding-top: 50px;
    display: flex;
    gap: 50px;
    align-items: center;
  }

  .hero-left h1 {
    font-size: 4.3rem;
    font-weight: 700;
    color: var(--text-color);
  }

  .hero-left p {
    font-size: 1rem;
    color: var(--p-color);
  }

  .hero-left {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .hero-right {
    flex: 1;
  }

  .hero-right img {
    width: 520.5px;
  }

  /* Hero Section End */
  /* Header Container End */

  /* Main Container Start */

  #main-container {
    margin-top: 150px;
  }

  /* Our Featured Flowers Section Start */

  #off-section p {
    margin-top: 24px;
    margin-bottom: 40px;
    padding: 0px 280px;
  }

  .off-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }

  .img-6 {
    width: 250px;
    height: 400px;
    position: absolute;
    top: 1080.5px;
  }
  .img-7 {
    width: 310px;
    height: 450px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .img-5 {
    padding-top: 10px;
    padding-left: 5px;
  }

  .off-card {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bg-p {
    background: #a7216226;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
  }

  .bg-s {
    background: #0597a026;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
  }

  .bg-g {
    background: #477d1126;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
  }

  .off-down {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 32px;
    place-items: center;
    margin-top: 30px;
  }

  .off-down h4 {
    font-size: 1.2rem;
    text-decoration: underline;
    color: var(--text-color);
  }

  /* Our Featured Flowers Section End */
}
