* {
  margin: 0;
  padding: 0;
}

.header {
  background: #0d6efd0d;
  padding: 10px 150px;
  height: 100vh;
  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
}
